<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/a3b08c17-6e24-417a-8cdf-aaa534b689e1/resourceGroups/Personal/providers/Microsoft.Web/sites/MeetupChat</ResourceId>
    <SiteUrlToLaunchAfterPublish>http://meetupchat.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>meetupchat.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>MeetupChat</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$MeetupChat</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>